#section-container{
  position: fixed;
  width: 100%;
  height: 100%;
  display: block;
  z-index: 1;
  top: 0px;
  left: 0px;
  background-color: rgba(0, 0, 0, 0.166);
  color: white;
  opacity: 0;
  transition: opacity 5s;
}

#section-container.fade-in{
  opacity: 1;
}

#side-bar{
  position: relative;
  display: block;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.11);
  width: 20%;
  padding: 20px;
  opacity: 1;
  transition: opacity 0.3s;
}
#side-bar.fade{
  opacity: 0.1;
}

#side-bar h3{
  text-align: center;
  border-bottom: 1px solid white;
}

#contact-links{
  position: absolute;
  display: block;
  top: 40%;
  font-size: 20px;
  box-sizing: border-box;
}

#contact-links a {
  font-size: 25px;
}

.hero-icon{
  display: flex;
  width: auto;
  width: 40px;
  height: 40px;
}

.hero-icon svg{
  display: block;
  width: 50px;
  height: 50px;
  cursor: pointer;
}

.hero-icon:focus-visible{
  outline: 1px solid rgb(79, 244, 255);
}

#contact-links li:first-child a,
#contact-links li:nth-child(2) a{
  font-size: 30px;
}

#contact-links li {
  margin: 5px 0px;
  text-align: center;
  position: relative;
}

#contact-links li span{
  font-size: 15px;
  visibility: hidden;
  background-color: whitesmoke;
  color: black;
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  position: absolute;
  left: 45px;
  top: 10px;
  border:1px solid gray;
  opacity: 0;
  transition: opacity 0.3s;
}

#contact-links li span::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 100%;
  margin-top: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent whitesmoke transparent transparent;
}
#contact-links li:focus-within span,
#contact-links li:hover span{
  visibility: visible;
  opacity: 1;
}

#song-info {
  position: relative;
  display: block;
  width: 100%;
}

#song-info h4{
  overflow-x: scroll;
  white-space: nowrap;
  font-size: 18px;
}

#song-info h4::-webkit-scrollbar{
  display: none;
}

#song-info p {
  color: gray;
  margin-bottom: 10px;
}

#play-pause-buttons {
  font-size: 35px;
  min-width: 35px;
  min-height: 35px;
  text-align: center;
}

#play-pause-buttons:active,
#import-button:active{
  color: gray;
  font-size: 33px;
  margin: 1px
}

#play-pause-toggle,
#song-upload-input{
  visibility: hidden;
  pointer-events: none;
}

#import-button{
  display: block;
  font-size: 25px;
}

#import-button:active{
  color: gray;
  font-size: 23px;
}

#song-title{
  transition: opacity 0.5s;
}

#song-title.fade-out{
  opacity: 0;
}